.todo-item {
    --low-priority: yellow;
    --medium-priority: orange;
    --high-priority: red;
    --border-radius: 10px;

    position: relative;
    width: calc(100% - 45px);
    height: 80px;
    display: flex;
    padding: 10px 35px 10px 10px;
    border-radius: var(--border-radius);
    background-color: rgba(var(--secondary-color), 1);

    & * {
        background-color: transparent;
    }
}


/* Todo Content area */
.todo-item-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* functions as 'header', so to speak */
.todo-item-content div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo-item-content div input[type="text"] {
    margin-top: 0;
    font-size: 24px;
    width: 50%;
    border: none;
    color: rgb(var(--text));
}

.todo-item-content div input[type="date"] {
    margin-left: 10px;
    position: relative;
    border: none;
}

.todo-item-content div input::-webkit-datetime-edit-fields-wrapper {
    position: relative;
    left: 15%;
}

.todo-item-content div input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    left: 0%;
}

/* Remove Todo Button */
.todo-item .remove {
    height: 25px;
    width: 25px;
    padding: 0;
    border-radius: 50%;
    border: none;
}

/* Description */
.todo-item-content details {
    height: 1em;
    padding-left: 5px;
}

.todo-item-content textarea {
    position: absolute; /* Relative positioning does not work across browsers */
    bottom: -5px;
    transform: translateY(100%);
    z-index: 2;
    border-radius: 5px;
}

.todo-item button.priority {
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    height: 100%;
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    border: none;
    border-left: 3px solid rgb(var(--accent));
}

.low-priority {
    background-image: linear-gradient(transparent 33%,
            transparent 66%,
            var(--low-priority) 34%);
}

.medium-priority {
    background-image: linear-gradient(transparent 33%,
            var(--medium-priority) 33%,
            var(--medium-priority) 66%,
            var(--low-priority) 34%);
}

.high-priority {
    background-image: linear-gradient(var(--high-priority) 33%,
            var(--medium-priority) 33%,
            var(--medium-priority) 66%,
            var(--low-priority) 34%);
}