.project-card {
    display: flex;
    flex-direction: column;

    position: absolute;
    height: 300px;
    width: fit-content;
    border-radius: 15px;

    background-color: var(--secondary-color);
}

.project-card header {
    height: fit-content;

    & h2 {
        margin: 0;
        text-align: center;
    }

    & button {
        display: block;
        margin: 0 auto;
        border: none;

        &:hover {
            cursor: grab;
        }
    }
}

.project-card .content {
    padding-left: 1rem;
    overflow-y: scroll;

    flex: auto;
}

.project-card header,
.project-card header button {
    background-color: var(--accent);
    color: var(--primary-color);
}

.project-card-buttons {
    padding: 1rem;
}