@import './components/project-card/project-card.css';
@import './components/sidebar-item/sidebar-item.css';
@import './components/todoItem/todoItem.css';
@import './layout.css';
@import './utilityClasses.css';
@import './dialog.css';

:root {
    --primary-color: white;
    --secondary-color: lightblue;
    --accent: rgb(0, 119, 255);
    --text: black;
    --danger: rgb(231, 75, 75);
    --positive-green: rgb(124, 244, 151);
}

body {
    margin: 0;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    padding: 10px;
    background-color: var(--secondary-color);
    border-bottom: solid 2px var(--accent);
}

#sidebar {
    background-color: var(--secondary-color);
}

main {
    position: relative;
    background-color: var(--primary-color);
}

button.icon {
    aspect-ratio: 1 / 1;
    border-radius: 15px;
    border: none;
}

button:hover {
    cursor: pointer;
}