@import './components/project-card/project-card.css';
@import './components/sidebar-item/sidebar-item.css';
@import './components/todoItem/todoItem.css';
@import './layout.css';
@import './utilityClasses.css';
@import './dialog.css';

:root {
    --primary-color: 255, 255, 255;
    --secondary-color: 173, 216, 230;
    --accent: 0, 119, 255;
    --text: 0, 0, 0;
    --danger: 231, 75, 75;
    --positive-green: 124, 244, 151;
}

body {
    margin: 0;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    padding: 10px;
    background-color: rgb(var(--secondary-color));
    border-bottom: solid 2px rgb(var(--accent));
}

#sidebar {
    background-color: rgb(var(--secondary-color));
}

main {
    position: relative;
    background-color: rgb(var(--primary-color));
}

button.icon {
    aspect-ratio: 1 / 1;
    border-radius: 15px;
    border: none;
}

button:hover {
    cursor: pointer;
}