.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-end {
    justify-content: flex-end;
}

.resizeable {
    overflow: hidden;
    resize: both;
}

.dangerous-button {
    padding: 0.5rem;
    background-color: var(--danger);
    color: var(--primary-color);
}